<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="robots" content="index, follow" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if site.environment == 'dev' %}
    <base href="/" >
  {% else %}
    <base href="{{ site.url }}" >
  {% endif %}
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="./assets/logo.png">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- custom css -->
  <link type="text/css" rel="stylesheet" href="./css/main.css" media="all" />
</head>
