<aside class="col-md-offset-1 col-md-2">
  <ul>
    <li>
      <a href="/2016/montreuil" title="Montreuil-en-Touraine (37)">
        2016 - Montreuil-en-Touraine (37)
      </a>
    </li>
    <li>
      <a href="/2016/aiglun" title="Aiglun (04)">
        2016 - Aiglun (04)
      </a>
    </li>
    <li>
      <a href="/2015/chemere" title="Cheméré (44)">
        2015 - Cheméré (44)
      </a>
    </li>
    <li>
      <a href="/2014/gerardmer" title="Gérardmer (88)">
        2014 - Gérardmer (88)
      </a>
    </li>
    <li>
      <a href="/2013/brocas" title="Brocas-les-Forges (40)">
        2013 - Brocas-les-Forges (40)
      </a>
    </li>
  </ul>  
</aside>