<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="/assets/logo.png">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- custom css -->
        <link type="text/css" rel="stylesheet" href="/css/main.css" media="all" />
        
    </head>
    
    <body class="home" itemscope itemtype="http://schema.org/WebPage">
    
    <!-- Navbar -->
    <header class="navbar navbar-inverse navbar-fixed-top hidden-print">
	<div class="navbar-inner">
	    <div class="container">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
		<a class="brand" href="/" title="Opération Libre">
		    <img class="baseline" src="/assets/logo.png" alt="Opération Libre"/>
		</a>
		<nav class="nav-collapse collapse">
		<ul class="nav">
		  {% for p in site.pages %}
		    <li>
		      <a href="{{ p.url }}" title="{{ p.title }}">{{ p.title }}</a>
		    </li>
		  {% endfor %}
		</ul>
		</nav>
	    </div>
	</div>
    </header>

        

        {{content}}
        
        <footer id="footer" class="hidden-print">
	    <div class="container">
		<div class="row-fluid">
		    
		</div>
	    </div>
        </footer>

        
    </body>
</html> 
